.form-register{
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
}
.form-login{
  width: 100%;
  max-width: 530px;
  padding: 15px;
  margin: auto;
}
.disabled{
  background: #ccc;
}
.max-300{
  max-width: 300px;
}